
body,h1{
  padding: 0;
  margin: 0;
}

body{
  background: #f4f5f9;
  font-family: 'Lato', Helvetica , sans-serif;
}

$primary-color: #000;

@import 'loaders.css/src/animations/pacman.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
    text-align: center;
}